@include media-breakpoint-up($md) {
    .icon {  
      font-size: 2rem;    
       &--rotate {
         transform:translate(-85%, -50%) rotate(45deg);     
      }
      &--rotatePined {
        transform:translate(-65%, -50%) ; 
        color:black ;    
        background: none;
      }  
    }
    .card {
      &-header {
        font-size: 1.5rem;
        &-title {
          padding: 0.5rem;
        }  
      }  
      &-content {
        font-size: 1.2rem;     
        line-height: 1.3rem;
      }
      &-footer {
        font-size: 1rem;   
      }
    }
    }
  
  @include media-breakpoint-up($lg) {
    .icon {  
      font-size: 2rem;  
    }
    .card {
      &-header {
        font-size: 1.6rem;
        &-title {
          padding: 0.5rem;
        }  
      }  
      &-content {
        font-size: 1.2rem;      
        line-height: 1.4rem;
      }
      &-footer {
        font-size: 1.2rem;    
      }
    }
    }
  